@import '../../styles/pod-vibes-theme.scss';

.PodcastCardWraper{
  display: flex;
  flex-direction: column;
  position: relative;
  max-height: 350px;
  max-width: 250px;
  min-width: 180px;
  width: 46%;
  align-items: center;
  .ImageContainer{
    background-color: white;
    aspect-ratio: 1/ 1;
    border-radius: 100%;
    min-width: 100px;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    .icon{
      font-size: 40px;
    }
  }
  .InfoContainer{
    margin-top: 50px;
    padding-top: 40px;
    background-color: $primary-color;
    min-height: 130px;
    width: 100%;
    border-radius: 8px;
    color: $main-text;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    gap: 8px;
    .PodcastName{
      font-size: 18px;
      font-weight: 600;  
    }
    .AuthorName{
      font-size: 14px;
      font-weight: 300px;
    }
  }
}